.loginwrapp {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 200px 150px 150px 200px;
  background: url(../assets/loginBg-min.jpg) center/cover no-repeat;
  height: 100vh;
  opacity: 3;
  @include respond(small-phone) {
    grid-template-rows: repeat(4, 150px);
  }
  &__form {
    grid-column: 4/6;
    grid-row: 2/4;
    background: #585757;
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
    font-family: "Lobster", cursive;
    color: #fff;
    border-radius: 5px;
    @include respond(phone) {
      grid-column: 3/7;
    }
    @include respond(small-phone) {
      grid-column: 2/8;
    }

    & span {
      letter-spacing: 1px;
    }
    & h3 {
      font-size: 28px;
      letter-spacing: 2px;
    }
    & input {
      padding: 10px 10px;
      width: 80%;
      border: none;
      outline: transparent;
      border-radius: 5px;
      &:focus {
        border: 2px solid rgba(16, 16, 16, 0.707);
      }
    }

    &-email {
      margin-top: 25px;
    }
    &-password {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  }
}
