.bgpallete {
  grid-column: 10/12;
  display: flex;
  margin-top: 10%;
  border: 2px solid #dcdcdcd9;
  padding: 5px;
  justify-content: space-between;
  justify-self: end;
  width: 90%;
  gap: 5px;
  @include respond(tab-port) {
    grid-column: 8/10;
    flex-direction: column;
  }
  @include respond(small-phone) {
    grid-column: 2/9;
    grid-row: 1/1;
    flex-wrap: wrap;
    justify-self: center;
    flex-direction: row;
    width: 66%;
  }
}

.bg__type {
  width: 100px;
  height: 70px;
  cursor: pointer;
  @media screen and (max-width: 400px) {
    width: 68px;
  }
  @include respond(small-phone) {
    width: 55px;
    height: 36px;
    cursor: pointer;
  }
}
