.sidemenu {
  background: #0000007d;
  width: 17rem;
  grid-column: 1/1;
  grid-row: 1/-1;
  height: 100vh;

  &-list {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    &__item {
      display: flex;
      padding: 10px 10px;
      font-weight: 600;
      cursor: pointer;
      & svg {
        margin-right: 5px;
      }
      & a {
        color: inherit;
      }
    }
  }
}
